.dashboard {
  background-color: red; }
  .dashboard main {
    background-color: red; }
    .dashboard main .banner {
      height: rule(32);
      width: 100%;
      display: block; }
      .dashboard main .banner img {
        width: auto;
        height: 100%; }
