footer.form {
  background-color: $primary-color;
  height : rule(7);
  .container-fluid {
    height : 100%;
  }
  .row {
    display : flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;

    height :100%;

    .col {
      height :100%;
      @include center-flex;
      color : white;
      cursor: pointer;

      svg {
        margin: 0 rule(1);
        color : white;
      }
    }
  }
}

footer.menu {
  background-color: $primary-color;
  height : rule(14);
  .container-fluid {
    height : 100%;
  }
  .row {
    display : flex;
    @include center-flex;
    height : rule(7);

    span, a, button {
      @extend %reset-Button;
      @include center-flex;
      color : white;
      height : rule(7);
      width: 100%;
      text-align: center;
      border : {
        top : 1px solid $primary-color;
        bottom : 1px solid $primary-color;
      }

      &:hover {
        color : red !important;
        border : {
          top : 1px solid red;
          bottom : 1px solid red;
        }
      }

    }

  }
}
