.form {

  h1 {
    @include font(rule(2), 600);
    padding: rule(2);
    text-align: center;
    text-transform: uppercase;
  }
  form {
    padding: rule(1);

    label {
      padding-bottom:  rule(1);
      font-weight: 600;
    }

    input {
      padding: 0;
      outline: none !important;
      border: none !important  {
        bottom: 1px solid $gray !important;
      }
      &:focus {
        outline: none !important;
        outline-color: transparent;
        outline-style: none;
      }
    }
  }

  &-1-contact {

  }

  &-2-products {
    p {
      margin-bottom: rule(2);
      padding: 0 rule(1);
    }

    form {
      border-top: 1px solid $gray;
      h1 {
        text-align: left;
        padding : rule(.5) rule(.5);
        background-color: $gray;
      }
      h2 {
        text-align: center;
        padding: rule(1.5);
        font-weight: 600;
      }
    }
  }

}

input[type="text"], input[type="text"]:focus{
  outline: 0;
  border:none;
  box-shadow:none;
}

select.minimal {
  outline: 0;
  width: 100%;
  padding : rule(1) 0;
  background: {
    color : white;
  }
  border : {
    width : 0 0 1px;
    color : $gray;
    radius : 0;
  }

  &:focus {
    border-color: $primary-color;
  }
}
