.form {

  h1 {
    @include font(rule(2), 600);
    padding: rule(2);
    text-align: center;
    text-transform: uppercase;
  }
  form {
    padding: rule(1);

    label {
      padding-bottom:  rule(1);
      font-weight: 600;
    }

    input {
      padding: 0;
      outline: none !important;
      border: none !important  {
        bottom: 1px solid $gray !important;
      }
      &:focus {
        outline: none !important;
        outline-color: transparent;
        outline-style: none;
      }
    }
  }

  &-1-contact {

  }

  &-2-products {

    .plus{
      position: absolute;
      top : rule(3);
      right : rule(1);
      padding : rule(1.5) rule(2.5);
      background: {
        color: $button-red;
      }
      border: {
        radius : 50%;
      }
      color: white;
      font :{
        size : rule(4);
        weight : 300;
      }
    }

    p {
      margin-bottom: rule(2);
      padding: 0 rule(1);
    }

    form {
      border-top: 1px solid $gray;
      h1 {
        text-align: left;
        padding : rule(.5) rule(.5);
        background-color: $gray;
      }
      h2 {
        text-align: center;
        padding: rule(1.5);
        font-weight: 600;
      }
    }
  }

  &-3-overview {
    .overview {
      padding: rule(1);
      border: {
        bottom : 1px solid $gray;
      }
      p {
        padding : rule(1.5) 0;
      }
    }
    .camera{
      @extend %camera;
    }
  }

  &2-3-application {
    label {
      font : {
        size : rule(1.5);
      }
    }
    .camera{
      @extend %camera;
    }
  }

  .modal-content {
    border-radius: rule(2.5);
  }
  .modal-body {
    text-align: center;
  }

  .modal-footer {
    padding: 0;
    .row {
      display: flex;
      height: rule(6);
      border : {
        bottom-left-radius: rule(2);
        bottom-right-radius: rule(2);
      }

      .col {
        @include center-flex;
        color : $primary-color;
        border : .5px solid $silver;
        &:first-child{
          border-bottom-left-radius: rule(2);
        }
      }
      .ok {
        border-bottom-right-radius: rule(2);
        font : {
          weight : 600;
        }
      }
    }
  }
}

.submit {
  main {
    padding :rule(2);

    .card {
      @extend %shadow;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        padding: rule(1);
      }
      h2 {
        padding-top: rule(1);
        font :  {
          size : rule(2);
          weight : 600;
        }
      }
    }
  }
}

input[type="text"], input[type="text"]:focus{
  outline: 0;
  border:none;
  box-shadow:none;
}

select.minimal {
  outline: 0;
  width: 100%;
  padding : rule(1) 0;
  background: {
    color : white;
  }
  border : {
    width : 0 0 1px;
    color : $gray;
    radius : 0;
  }

  &:focus {
    border-color: $primary-color;
  }
}

%camera {
  position: absolute;
  bottom : rule(8);
  right : rule(1);
  padding : rule(2) rule(2);
  background: {
    color: $silver;
  }
  border: {
    radius : 50%;
  }
  color:black;
  font :{
    size : rule(2.5);
    weight : 300;
  }
}
