.menu {
  &-settings {
    .list {
      padding: rule(2);

      ul {
        padding-top: rule(1);

        li {
          padding: rule(1.5) 0;
          color : $primary-font-color;
          border : {
            bottom : 1px solid $silver;
          }
          font : {
            weight : 600;
          }
          a {
            color : $primary-font-color;
          }
        }
      }
    }

    footer {

    }
  }

  &-catalog {
    main {
      padding: rule(2);
      ul {
        li {
          padding : rule(1) 0;
          border: {
            bottom : 1px solid $silver;
          }

          h2  {
            padding : rule(1) 0;
          }
          a {
            color : $primary-color;
            padding: rule(1);
            font : {
              size : rule(1.5);
            }
          }
        }
      }
    }
  }
}
