.menu {
  &-settings {
    .list {
      padding: rule(2);

      ul {
        padding-top: rule(1);

        li {
          padding: rule(1.5) 0;
          color : $primary-font-color;
          border : {
            bottom : 1px solid $silver;
          }
          font : {
            weight : 600;
          }
          a {
            color : $primary-font-color;
          }
        }
      }
    }

    footer {

    }
  }

  &-catalog {
    main {
      padding: rule(2);
      ul {
        li {
          @extend %list;

          h2  {
            padding : rule(1) 0;
          }
          a {
            color : $primary-color;
            padding: rule(1);
            font : {
              size : rule(1.5);
            }
          }
        }
      }
    }
  }

  &-promotions {
    ul.nav-pills {
      @include center-flex;
      padding: rule(3) 0 rule(2);
      li {
        padding : 0 !important;
        border: none;

        a {
          padding : rule(1) rule(4) !important;
          @extend %anchor;
          border: {
            color : $primary-color;
            top : 1px solid $primary-color;
            bottom : 1px solid $primary-color;
          }
        }

        & a.active {
          background-color: $primary-color;
          color: white;
          // border: {
          //   color : $primary-color;
          //   top : 1px solid ;
          //   bottom : 1px solid ;
          // }
        }

        &:first-child a {
          border : {
            left: 1px solid $primary-color;
            top-left-radius : rule(1);
            bottom-left-radius : rule(1);
          }
        }
        &:last-child a {
          border : {
            right: 1px solid $primary-color;
            top-right-radius : rule(1);
            bottom-right-radius : rule(1);
          }
        }

      }
    }

    .catalog {
      padding : rule(1) 0;
      li {
        overflow: auto;
        clear: both;
        @extend %list;

        padding : rule(2) 0 !important;
        border-top: 1px solid $silver;

        h2 {
          float: left;
          padding-left: rule(2);
        }
        a {
          float : right ;
          padding-right: rule(2);
          @extend %anchor;
        }
      }
    }
  }

  &-contact{
    .banner {
      height: rule(26);
      background-color: $dark;
      text-align: center;

      .circle {
        margin: rule(2) ;
        width : rule(16);
      }

      .pills {
        li {
          display: inline-block;

          a {
            padding: rule(1) rule(4);
            background-color: $primary-color;
            color : white;
            border-radius: rule(1);
            margin: rule(1);
            font-size: rule(2.5)
          }
        }
      }
    }

    .card {
      margin: rule(2);
      @extend %shadow;
    }
    h2  {
      @include font(rule(2.5), 500)
    }

    .address {
      li {
        padding: rule(1) 0;

        &:first-child svg {
          font-size: rule(3);
          margin-top: rule(1);
          vertical-align: top;
        }

        svg, p {
          display: inline-block;
        }
        svg {
          vertical-align: middle;
        }

        p {
          margin-left:  rule(2);
          @include font(rule(1.5), 500, $light-gray);
        }
      }
    }

  }

}

.green {
  @include font(rule(1.5), 500, $primary-color !important);
}

%list {
  padding : rule(1) 0;
  border: {
    bottom : 1px solid $silver;
  }

}

%anchor {
  color : $primary-color;
  &:hover, &:focus {
    text-decoration: none;
  }
}
