.nav-header{
  height : rule(7);
  .navbrand {
    float : left;
    // margin-top : rule(1);
  }
  //background-color : #f8f8f8;
}
.navbar-brand {
  margin-right: 3rem !important;
}
.navbar-toggler {
  border: none !important;
}

.navbar-nav {
  display: inline-block;
  .nav-link {
    display: inline-block;
    margin-right: rule(1);
    padding: rule(2) 0;
  }
}
.navbar-dark {
  background-color: #000 !important;
  @extend %shadow;
}
.navbar {
  background-color: $primary-color;
  a, .navbar-toggler {
    color: white;
  }
  .app {
    span {
      padding-top: rule(.4);
    }
  }
}
nav {
  height : rule(7);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;

    ul {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }
    .footer {
      padding-bottom: rule(2);
    }

    .title {
      padding: rule(2);
      background-color: $primary-color;
      text-align: center;
      color: white;
      font-size: rule(2.5);
    }

    ul {
      background-color: white;
      padding-left: rule(2);
      font-size: 1px;
    }

    a {
      padding: rule(1) 0;
      text-decoration: none;
      font-size: rule(2);
      color: $primary-font-color;
      display: block;
      transition: 0.3s;
      border-bottom: 1px solid $silver;

      svg {
        margin-right: rule(1);
        padding-right: rule(.5);
        color: $primary-color;
      }

      &:hover {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
}
.fa-male {
  padding-right: 0 !important;
  padding-left: 2px;
  margin-right: 14px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: rule(2)}
  .sidenav a {font-size: rule(2)}
}
