@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center; }

html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-size: calc( 8px * 2);
  font-weight: 400;
  font-family: "Lato", sans-serif !important;
  color: rgba(0, 0, 0, 0.7);
  line-height: calc($size * 1.5); }

* {
  transition: .7s;
  margin: 0;
  padding: 0; }

.app {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .app header {
    width: 100%; }
  .app main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto; }
  .app footer {
    width: 100%; }

.logo {
  width: calc( 8px * 26);
  height: auto; }

.article {
  padding: calc( 8px * 5) 0; }
  .article ul {
    text-align: center; }

.center {
  text-align: center;
  margin: 0 auto; }

.navbar-dark, .submit main .card, .menu-contact .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.faded-dark-bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)); }

.splash-screen {
  display: flex; }
  .splash-screen .container .splash {
    height: calc( 8px * 14);
    width: auto;
    padding-bottom: calc( 8px * 2); }

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

footer.menu .row span, footer.menu .row a, footer.menu .row button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none; }
  footer.menu .row span::-moz-focus-inner, footer.menu .row a::-moz-focus-inner, footer.menu .row button::-moz-focus-inner {
    border: 0;
    padding: 0; }

.nav-header {
  height: calc( 8px * 7); }
  .nav-header .navbrand {
    float: left; }

.navbar-brand {
  margin-right: 3rem !important; }

.navbar-toggler {
  border: none !important; }

.navbar-nav {
  display: inline-block; }
  .navbar-nav .nav-link {
    display: inline-block;
    margin-right: calc( 8px * 1);
    padding: calc( 8px * 2) 0; }

.navbar-dark {
  background-color: #000 !important; }

.navbar {
  background-color: #3e8c51; }
  .navbar a, .navbar .navbar-toggler {
    color: white; }
  .navbar .app span {
    padding-top: calc( 8px * 0.4); }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3e8c51;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: calc( 8px * 2); }
  .sidenav a {
    font-size: calc( 8px * 2); } }

footer.form {
  background-color: #3e8c51;
  height: calc( 8px * 7); }
  footer.form .container-fluid {
    height: 100%; }
  footer.form .row {
    display: flex;
    height: 100%; }
    footer.form .row .col {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer; }
      footer.form .row .col svg {
        margin: 0 calc( 8px * 1);
        color: white; }

footer.menu {
  background-color: #3e8c51;
  height: calc( 8px * 14); }
  footer.menu .container-fluid {
    height: 100%; }
  footer.menu .row {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 8px * 7); }
    footer.menu .row span, footer.menu .row a, footer.menu .row button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: calc( 8px * 7);
      width: 100%;
      text-align: center;
      border-top: 1px solid #3e8c51;
      border-bottom: 1px solid #3e8c51; }
      footer.menu .row span:hover, footer.menu .row a:hover, footer.menu .row button:hover {
        color: red !important;
        border-top: 1px solid red;
        border-bottom: 1px solid red; }

.dashboard .sidenav {
  background-color: black !important; }

.dashboard main .banner {
  height: calc( 8px * 25);
  width: 100%;
  display: block; }
  .dashboard main .banner img {
    width: 100%;
    height: 100%; }

.dashboard main .services {
  color: rgba(0, 0, 0, 0.7); }
  .dashboard main .services .col {
    height: calc( 8px * 16);
    border: 1px solid;
      border-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .dashboard main .services .col i, .dashboard main .services .col svg {
      color: green;
      margin-bottom: calc( 8px * 1); }

.dashboard footer img {
  padding: calc( 8px * 2); }

.form h1 {
  font-size: calc( 8px * 2);
  font-weight: 600;
  font-family: "Lato", sans-serif !important;
  color: rgba(0, 0, 0, 0.7);
  line-height: calc($size * 1.5);
  padding: calc( 8px * 2);
  text-align: center;
  text-transform: uppercase; }

.form form {
  padding: calc( 8px * 1); }
  .form form label {
    padding-bottom: calc( 8px * 1);
    font-weight: 600; }
  .form form input {
    padding: 0;
    outline: none !important;
    border: none !important;
      border-bottom: 1px solid #eee !important; }
    .form form input:focus {
      outline: none !important;
      outline-color: transparent;
      outline-style: none; }

.form-2-products .plus {
  position: absolute;
  top: calc( 8px * 3);
  right: calc( 8px * 1);
  padding: calc( 8px * 1.5) calc( 8px * 2.5);
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: calc( 8px * 4);
  font-weight: 300; }

.form-2-products p {
  margin-bottom: calc( 8px * 2);
  padding: 0 calc( 8px * 1); }

.form-2-products form {
  border-top: 1px solid #eee; }
  .form-2-products form h1 {
    text-align: left;
    padding: calc( 8px * 0.5) calc( 8px * 0.5);
    background-color: #eee; }
  .form-2-products form h2 {
    text-align: center;
    padding: calc( 8px * 1.5);
    font-weight: 600; }

.form-3-overview .overview {
  padding: calc( 8px * 1);
  border-bottom: 1px solid #eee; }
  .form-3-overview .overview p {
    padding: calc( 8px * 1.5) 0; }

.form2-3-application label {
  font-size: calc( 8px * 1.5); }

.form .modal-content {
  border-radius: calc( 8px * 2.5); }

.form .modal-body {
  text-align: center; }

.form .modal-footer {
  padding: 0; }
  .form .modal-footer .row {
    display: flex;
    height: calc( 8px * 6);
    border-bottom-left-radius: calc( 8px * 2);
    border-bottom-right-radius: calc( 8px * 2); }
    .form .modal-footer .row .col {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3e8c51;
      border: 0.5px solid #ecf0f1; }
      .form .modal-footer .row .col:first-child {
        border-bottom-left-radius: calc( 8px * 2); }
    .form .modal-footer .row .ok {
      border-bottom-right-radius: calc( 8px * 2);
      font-weight: 600; }

.submit main {
  padding: calc( 8px * 2); }
  .submit main .card {
    text-align: center; }
    .submit main .card img {
      width: 100%;
      height: auto;
      padding: calc( 8px * 1); }
    .submit main .card h2 {
      padding-top: calc( 8px * 1);
      font-size: calc( 8px * 2);
      font-weight: 600; }

input[type="text"], input[type="text"]:focus {
  outline: 0;
  border: none;
  box-shadow: none; }

select.minimal {
  outline: 0;
  width: 100%;
  padding: calc( 8px * 1) 0;
  background-color: white;
  border-width: 0 0 1px;
  border-color: #eee;
  border-radius: 0; }
  select.minimal:focus {
    border-color: #3e8c51; }

.form-3-overview .camera, .form2-3-application .camera {
  position: absolute;
  bottom: calc( 8px * 8);
  right: calc( 8px * 1);
  padding: calc( 8px * 2) calc( 8px * 2);
  background-color: #ecf0f1;
  border-radius: 50%;
  color: black;
  font-size: calc( 8px * 2.5);
  font-weight: 300; }

.menu-settings .list {
  padding: calc( 8px * 2); }
  .menu-settings .list ul {
    padding-top: calc( 8px * 1); }
    .menu-settings .list ul li {
      padding: calc( 8px * 1.5) 0;
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 1px solid #ecf0f1;
      font-weight: 600; }
      .menu-settings .list ul li a {
        color: rgba(0, 0, 0, 0.7); }

.menu-catalog main {
  padding: calc( 8px * 2); }
  .menu-catalog main ul li h2 {
    padding: calc( 8px * 1) 0; }
  .menu-catalog main ul li a {
    color: #3e8c51;
    padding: calc( 8px * 1);
    font-size: calc( 8px * 1.5); }

.menu-promotions ul.nav-pills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc( 8px * 3) 0 calc( 8px * 2); }
  .menu-promotions ul.nav-pills li {
    padding: 0 !important;
    border: none; }
    .menu-promotions ul.nav-pills li a {
      padding: calc( 8px * 1) calc( 8px * 4) !important;
      border-color: #3e8c51;
      border-top: 1px solid #3e8c51;
      border-bottom: 1px solid #3e8c51; }
    .menu-promotions ul.nav-pills li a.active {
      background-color: #3e8c51;
      color: white; }
    .menu-promotions ul.nav-pills li:first-child a {
      border-left: 1px solid #3e8c51;
      border-top-left-radius: calc( 8px * 1);
      border-bottom-left-radius: calc( 8px * 1); }
    .menu-promotions ul.nav-pills li:last-child a {
      border-right: 1px solid #3e8c51;
      border-top-right-radius: calc( 8px * 1);
      border-bottom-right-radius: calc( 8px * 1); }

.menu-promotions .catalog {
  padding: calc( 8px * 1) 0; }
  .menu-promotions .catalog li {
    overflow: auto;
    clear: both;
    padding: calc( 8px * 2) 0 !important;
    border-top: 1px solid #ecf0f1; }
    .menu-promotions .catalog li h2 {
      float: left;
      padding-left: calc( 8px * 2); }
    .menu-promotions .catalog li a {
      float: right;
      padding-right: calc( 8px * 2); }

.menu-contact .banner {
  height: calc( 8px * 26);
  background-color: #222;
  text-align: center; }
  .menu-contact .banner .circle {
    margin: calc( 8px * 2);
    width: calc( 8px * 16); }
  .menu-contact .banner .pills li {
    display: inline-block; }
    .menu-contact .banner .pills li a {
      padding: calc( 8px * 1) calc( 8px * 4);
      background-color: #3e8c51;
      color: white;
      border-radius: calc( 8px * 1);
      margin: calc( 8px * 1);
      font-size: calc( 8px * 2.5); }

.menu-contact .card {
  margin: calc( 8px * 2); }

.menu-contact h2 {
  font-size: calc( 8px * 2.5);
  font-weight: 500;
  font-family: "Lato", sans-serif !important;
  color: rgba(0, 0, 0, 0.7);
  line-height: calc($size * 1.5); }

.menu-contact .address li {
  padding: calc( 8px * 1) 0; }
  .menu-contact .address li:first-child svg {
    font-size: calc( 8px * 3);
    margin-top: calc( 8px * 1);
    vertical-align: top; }
  .menu-contact .address li svg, .menu-contact .address li p {
    display: inline-block; }
  .menu-contact .address li svg {
    vertical-align: middle; }
  .menu-contact .address li p {
    margin-left: calc( 8px * 2);
    font-size: calc( 8px * 1.5);
    font-weight: 500;
    font-family: "Lato", sans-serif !important;
    color: #a0a0a0;
    line-height: calc($size * 1.5); }

.green {
  font-size: calc( 8px * 1.5);
  font-weight: 500;
  font-family: "Lato", sans-serif !important;
  color: #3e8c51 !important;
  line-height: calc($size * 1.5); }

.menu-catalog main ul li, .menu-promotions .catalog li {
  padding: calc( 8px * 1) 0;
  border-bottom: 1px solid #ecf0f1; }

.menu-promotions ul.nav-pills li a, .menu-promotions .catalog li a {
  color: #3e8c51; }
  .menu-promotions ul.nav-pills li a:hover, .menu-promotions .catalog li a:hover, .menu-promotions ul.nav-pills li a:focus, .menu-promotions .catalog li a:focus {
    text-decoration: none; }

.progress-page {
  background-color: #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center; }

.preloader {
  padding: calc( 8px * 6) calc( 8px * 8) calc( 8px * 4);
  text-align: center;
  font-size: 10px;
  background-color: white;
  border-radius: calc( 8px * 1); }
  .preloader h1 {
    display: inline-block;
    font-size: calc( 8px * 2.5);
    font-weight: 600;
    margin-left: calc( 8px * 2); }

.preloader > div {
  background-color: #a9a9a9;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out; }

.preloader .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.preloader .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px); }
  20% {
    -webkit-transform: translateY(-20px); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px); } }
